.container {
  min-width: min(calc(100% - 160px)), 1280px;
  margin: 0 var(--page-margin-desktop);

  @media (max-width: 599px) {
    min-width: min(calc(100% - 80px)), 480px;
    margin: 0 var(--page-margin-mobile);
  }
}
