.header {
  border-bottom: 1px solid var(--slate-400);

  .header__inner {
    display: flex;
    width: 100%;
    align-items: center;
    padding: 20px 0;
  }

  .header__logo {
    grid-column: 1/3;
  }

  .header__burger {
    margin-left: auto;
  }

  .header__nav {
    display: none;
  }

  .header__list {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .header__item-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: var(--slate-900);
    text-decoration: none;

    &:hover {
      color: var(--sky-700);
      transition: 0.1s;
    }

    &:active {
      color: var(--sky-500);
      transition: 0.1s;
    }
  }

  .header__activities {
    display: none;
  }

  @media (min-width: 768px) {
    .header__activities {
      display: flex;
      margin-left: auto;
      justify-content: space-between;
    }

    .header__button {
      margin-left: 40px;
    }

    .header__burger {
      margin-left: 40px;
    }
  }

  @media (min-width: 1280px) {
    .header__inner {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      gap: 32px;
    }

    .header__nav {
      display: block;
      grid-column: 4/9;
      width: 454px;
    }

    .header__activities {
      display: flex;
      grid-column: 9/13;
      margin-left: 5px;
      gap: 32px;
    }

    .header__button {
      margin-left: 0;
    }

    .header__burger {
      display: none;
    }
  }
}
