.phone {
  display: grid;
  grid-template-columns: 40px 1fr;
  gap: 0 12px;
  height: 40px;
  text-decoration: none;

  .phone__icon {
    border-radius: 20px;
    padding: 4px;
    width: 40px;
    height: 40px;
    background-color: var(--sky-700);
    grid-column: 1/2;
    grid-row: 1/3;
  }

  &:hover .phone__icon {
    background-color: var(--sky-800);
    transition: 0.3s;
  }
  &:active .phone__icon {
    background-color: var(--sky-500);
    transition: 0.3s;
  }

  .phone__num {
    grid-column: 2;
    grid-row: 1;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.5;
    color: var(--slate-900);
  }

  .phone__descr {
    grid-column: 2;
    grid-row: 2;
    font-size: 12px;
    line-height: 1.33333;
    color: var(--slate-600);
  }
}
