:root {
  --font-family: "Inter", sans-serif;

  --base-white: #fff;
  --sky-500: #0ea5e9;
  --sky-700: #0369a1;
  --sky-800: #075985;
  --slate-100: #f1f5f9;
  --slate-200: #e2e8f0;
  --slate-400: #94a3b8;
  --slate-600: #475569;
  --slate-900: #0f172a;

  /* --screen-m: 0;
  --screen-t: 576px;
  --screen-ti: 768px;
  --screen-tl: 992px;
  --screen-d: 1280px;
  --screen-dl: 1440px;
  --screen-dxl: 1680px; */
}
