@use "../variables.scss";

.burger {
  padding: 0;
  position: relative;
  cursor: pointer;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;

  .burger__item {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 24px;
    height: 2px;
    background-color: var(--sky-700);
    font-size: 0;
  }

  .burger__item::before,
  .burger__item::after {
    content: "";
    position: absolute;
    width: 24px;
    height: 2px;
    background-color: var(--sky-700);
    transition: 0.5s;
  }

  .burger__item::before {
    top: -6px;
  }

  .burger__item::after {
    top: 6px;
  }
}
