.button {
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  height: 40px;
  background-color: $sky-700;
  font-family: $font-family;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.42857;
  color: $slate-100;
  cursor: pointer;

  &:hover {
    background-color: $sky-800;
    transition: 0.2s;
  }

  &:active {
    background-color: $sky-500;
    transition: 0.2s;
  }

  &:disabled {
    background-color: $slate-200;
    color: $slate-400;
  }
}
