.menu {
  width: 280px;
  height: 100vh;
  display: none; //grid
  flex-direction: column;
  position: absolute;
  right: 0;
  top: 0;
  border-left: 1px solid $slate-400;
  z-index: 5;
  background-color: $base-white;

  &__inner {
    width: 240px;
    margin: 0 16px 0 24px;
    padding: 12px 0 32px 0;
    height: 100%;

    @media (min-width: $screen-ti) {
      & {
        padding: 20px 0 32px 0;
      }
    }
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__nav {
    display: flex;
    height: 80%;
    justify-content: center;
    align-items: center;
  }

  &__list {
    align-items: center;
    gap: 32px;
  }

  &__item-link {
    font-size: 18px;
    line-height: 1.55556;
  }

  &__activities {
    display: flex;
    flex-direction: column;
    gap: 24px;
    position: absolute;
    bottom: 32px;
  }

  &__button {
    width: 232px;
  }
}

.menu-open {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $screen-d) {
    display: none;
  }
}
