@use "../variables.scss";

.menu {
  width: 280px;
  height: 100svh;
  flex-direction: column;
  border-left: 1px solid var(--slate-400);
  align-items: center;

  &__inner {
    padding: 12px 24px 32px 24px;
    height: 100%;
    display: flex;
    flex-direction: column;

    @media (min-width: $screen-ti) {
      & {
        padding: 20px 24px 32px 24px;
      }
    }
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 0 0 auto;
  }

  &__nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 0 auto;
  }

  &__list {
    align-items: center;
    gap: 32px;
  }

  &__item-link {
    font-size: 18px;
    line-height: 1.55556;
  }

  &__activities {
    display: flex;
    flex-direction: column;
    gap: 24px;
    flex: 0 0 auto;
  }

  &__close {
    transform: translateX(8px);
  }
}
