.page {
  background-color: $base-white;

  &__inner {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }

  &__header {
    flex: 0 0 auto;
  }
  &__main {
    flex: 1 0 auto;
  }
  &__footer {
    flex: 0 0 auto;
  }
}
