@use "../variables.scss" .page {
  background-color: $base-white;

  &__inner {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }

  &__header {
    flex: 0 0 auto;
  }

  &__menu {
    position: fixed;
    right: 0;
    top: 0;
    z-index: variables.$z-index-nav;
    transform: translateX(100%);
    transition: transform 0.25s ease;

    .open-nav & {
      transform: translateX(0);
    }
  }

  &__main {
    display: flex;
    flex: 1 0 auto;
  }

  &__footer {
    flex: 0 0 auto;
  }
}
