@use "../variables.scss";

.page {
  background-color: var(--base-white);
  position: relative;

  &::before {
    position: absolute;
    inset: 0;
    z-index: var(--z-index-blur);
    content: "";
    display: block;
    backdrop-filter: blur(8px);
    background: rgba(15, 23, 42, 0.25);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.25s ease;

    .open-nav & {
      opacity: 1;
      pointer-events: auto;
    }

    @media (min-width: $screen-d) {
      & {
        backdrop-filter: none;
        background-color: transparent;

        .open-nav & {
          opacity: 0;
          pointer-events: none;
        }
      }
    }
  }

  &__inner {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }

  &__header {
    flex: 0 0 auto;
  }

  &__menu {
    position: fixed;
    right: 0;
    top: 0;
    z-index: var(--z-index-nav);
    transform: translateX(100%);
    transition: transform 0.25s ease;
    background-color: var(--base-white);
    max-height: 100svh;
    overflow-y: auto;

    .open-nav & {
      transform: translateX(0);

      @media (min-width: $screen-d) {
        & {
          transform: translateX(100%);
        }
      }
    }
  }

  &__main {
    display: flex;
    flex: 1 0 auto;
  }

  &__footer {
    flex: 0 0 auto;
  }
}
